In [29]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from scipy.stats import linregress

# Setting path to import Csv files.
auto_insurance_to_load = Path("Resources/AutoInsurance.csv")
car_insurance_claim_to_load = Path("Resources/Car_Insurance_Claim.csv")
insurance_claims_to_load = Path("Resources/insurance_claims.csv")

# Reading CSV files and transforming into Dataframe.
auto_insurance_df = pd.read_csv(auto_insurance_to_load)
big_car_insurance_claim_df = pd.read_csv(car_insurance_claim_to_load)
big_insurance_claims_df = pd.read_csv(insurance_claims_to_load)

In [31]:
unclean_auto_df =  auto_insurance_df[[
                            "State",
                            "Coverage",
                            "Education",
                            "Income",
                            "Months Since Policy Inception",
                            "Marital Status",
                            "Policy Type",
                            "Total Claim Amount",
                            "Vehicle Class", 
                            "Vehicle Size"
                            ]]

auto_df = unclean_auto_df.drop(index=0)

auto_df.head()

,State,Coverage,Education,Income,Months Since Policy Inception,Marital Status,Policy Type,Total Claim Amount,Vehicle Class,Vehicle Size
1,Washington,Basic,Bachelor,56274,5,Married,Corporate Auto,384.811147,Two-Door Car,Medsize
2,Arizona,Extended,Bachelor,0,42,Single,Personal Auto,1131.464935,Four-Door Car,Medsize
3,Nevada,Premium,Bachelor,48767,38,Married,Personal Auto,566.472247,Two-Door Car,Medsize
4,California,Basic,Bachelor,0,65,Married,Corporate Auto,529.881344,SUV,Medsize
5,Washington,Basic,Bachelor,43836,44,Single,Personal Auto,138.130879,Four-Door Car,Medsize

In [37]:
insurance_claims_df = big_insurance_claims_df[["months_as_customer",
                                               "age",
                                               "policy_state",
                                               "policy_deductable",
                                               "policy_annual_premium",
                                               "insured_education_level",
                                               "total_claim_amount",
                                               "incident_severity",
                                               "auto_year"
                                               ]]

insurance_claims_df

,months_as_customer,age,policy_state,policy_deductable,policy_annual_premium,insured_education_level,total_claim_amount,incident_severity,auto_year
0,328,48,OH,1000,1406.91,MD,71610,Major Damage,2004
1,228,42,IN,2000,1197.22,MD,5070,Minor Damage,2007
2,134,29,OH,2000,1413.14,PhD,34650,Minor Damage,2007
3,256,41,IL,2000,1415.74,PhD,63400,Major Damage,2014
4,228,44,IL,1000,1583.91,Associate,6500,Minor Damage,2009
...,...,...,...,...,...,...,...,...,...
995,3,38,OH,1000,1310.80,Masters,87200,Minor Damage,2006
996,285,41,IL,1000,1436.79,PhD,108480,Major Damage,2015
997,130,34,OH,500,1383.49,Masters,67500,Minor Damage,1996
998,458,62,IL,2000,1356.92,Associate,46980,Major Damage,1998
999,456,60,OH,1000,766.19,Associate,5060,Minor Damage,2007